@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Russo+One&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
  --black: #212121;
  --white: #ffffff;
  --gray: #323232;
  --light-gray: #a1a1a1;
  --teal: #14ffec;
  --dark-teal: #0d7377;
}

@layer base {
  html {
    font-family: Roboto Mono;
    color: white;
  }
}

h1 {
  color: var(--black);
  text-shadow:
    -1px -1px 0 var(--teal),
    1px -1px 0 var(--teal),
    -1px 1px 0 var(--teal),
    1px 1px 0 var(--teal);
}

.dark {
  color: var(--black);
  text-shadow:
    -1px -1px 0 var(--dark-teal),
    1px -1px 0 var(--dark-teal),
    -1px 1px 0 var(--dark-teal),
    1px 1px 0 var(--dark-teal);
}

.bottom-shine {
  background-image: radial-gradient(
    50% 100% at 50% 100%,
    #16484a 0%,
    rgba(22, 72, 74, 0) 100%
  );
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--white);
  -webkit-box-shadow: 0 0 0px 1000px #212121 inset;
  transition: background-color 5000s ease-in-out 0s;
  font-family: inherit !important;
  font-size: inherit !important;
}
